<div
  class="colors-section bg-violet-700 flex-col flex rounded-lg p-8 h-max font-sans"
>
  <div class="title">
    <span class="text-white text-3xl">Colors : </span>
    <p class="text-white break-words my-2">
      Tailwind provides a comprehensive set of color utilities out of the box.
      Each color is available in multiple shades, typically ranging from light
      (50) to dark (950) for example here's the blue color with its all ranges
    </p>
  </div>
  <div class="grid grid-cols-11 gap-10 my-2">
    <div class="size-6 bg-blue-50 rounded-lg"></div>
    <div class="size-6 bg-blue-100 rounded-lg"></div>
    <div class="size-6 bg-blue-200 rounded-lg"></div>
    <div class="size-6 bg-blue-300 rounded-lg"></div>
    <div class="size-6 bg-blue-400 rounded-lg"></div>
    <div class="size-6 bg-blue-500 rounded-lg"></div>
    <div class="size-6 bg-blue-600 rounded-lg"></div>
    <div class="size-6 bg-blue-700 rounded-lg"></div>
    <div class="size-6 bg-blue-800 rounded-lg"></div>
    <div class="size-6 bg-blue-900 rounded-lg"></div>
    <div class="size-6 bg-blue-950 rounded-lg"></div>
  </div>
  <div>
    <p class="text-white break-words my-2">
      so all these ranges in just one color ! and we can use them with text,
      background and more and more you can see all colors from
      <a
        href="https://tailwindcss.com/docs/customizing-colors"
        class="text-yellow-200 text-xl"
        >here!</a
      >
      is that all ? no we can make our own
      <span class="text-myColor"> color</span> like that one
    </p>
  </div>
</div>
