<div class="colors-section bg-violet-700 flex-col flex rounded-lg p-8 h-max">
  <div class="title">
    <span class="text-white text-3xl">Customizations : </span>
    <p class="text-white break-words my-2">
      Tailwind CSS offers several ways to customize your styles, allowing you to
      adapt the framework to your specific design needs. Here are some key
      methods for customization in Tailwind : first this font family is "Courier
      New" and it's applied using layer base in main css also this
      <span class="text-myColor">
        color of the text is customized via themes in config.ts file
      </span>
    </p>
  </div>

  <div>
    <div class="roundedBlueCircle size-6"></div>
    <p class="text-white break-words my-2">
      and this cirlcle is from class roundedblueCircle from plugins in config.ts
      file here's some reference about plugins
      <a
        href="https://tailwindcss.com/docs/plugins"
        class="text-yellow-200 text-xl"
        >here!</a
      >
      and finally
      <span class="bg-[#ccc7d1]"
        >this background is apllied with Arbitrary Customization</span
      >
    </p>
  </div>
</div>
