<div class="content flex relative sm:flex sm:flex-col sm:space-y-4 bg-gray-200">
  <div
    class="lg:flex lg:flex-col side-bar lg:w-52 sm:w-full lg:h-[630px] lg:rounded-lg sm:h-12 sm:flex sm:rounded-none sm:flex-row bg-violet-700 fixed top-1 left-2 text-white shadow-sm shadow-blue-950"
  >
    <div
      class="title font-sans lg:text-xl items-center text-white lg:text-center py-2 my-2"
    >
      Tailwind Guidline
    </div>
    <div
      class="menue lg:flex lg:flex-col my-2 md:flex md:flex-row sm:flex sm:flex-row"
    >
      <div
        class="text-white text-center font-sans hover:bg-violet-950 leading-3 p-3"
      >
        <a routerLink="/Colors" routerLinkActive="active">colors</a>
      </div>
      <div
        class="text-white text-center font-sans hover:bg-violet-950 leading-3 p-3"
      >
        <a routerLink="/Custom" routerLinkActive="active">Customizations</a>
      </div>
      <div
        class="text-white text-center font-sans hover:bg-violet-950 leading-3 p-3"
      >
        <a routerLink="/Typography" routerLinkActive="active">Typography</a>
      </div>
      <div
        class="text-white text-center font-sans hover:bg-violet-950 leading-3 p-3"
      >
        <a routerLink="/Spacing" routerLinkActive="active">spacing & sizes</a>
      </div>
      <div
        class="text-white text-center font-sans hover:bg-violet-950 leading-3 p-3"
      >
        <a routerLink="/Flex" routerLinkActive="active">flex box</a>
      </div>
      <div
        class="text-white text-center font-sans hover:bg-violet-950 leading-3 p-3"
      >
        <a routerLink="/Grid" routerLinkActive="active">Grids </a>
      </div>
    </div>
  </div>
  <div class="main bg-gray-200 w-full h-max-[1100px] flex space-x-4">
    <div class="w-56 virtual-side-bar"></div>
    <div
      class="the-content flex justify-center lg:w-full lg:h-[1100px] sm:w-[300px] sm:h-[800px] items-center"
    >
      <div class="shown-component w-[600px]">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
