<div
  class="colors-section bg-violet-700 flex-col flex rounded-lg p-8 h-max font-sans"
>
  <div class="title">
    <span class="text-white text-3xl">Typography : </span>
    <p class="text-white text-base my-2">
      Tailwind enables a lot of options for typing like font size , font
      families and font styles
    </p>
  </div>
  <div class="grid grid-cols-3 my-2">
    <div class="sizes border-red-50 border-e-2">
      <div class="text-white text-2xl mb-3">font sizes :</div>
      <div class="text-white text-2xl">font size 2xl</div>
      <div class="text-white text-lg">font size lg</div>
      <div class="text-white text-base">font size base</div>
      <div class="text-white text-sm">font size sm</div>
      <div class="text-white text-xs">font size xs</div>
    </div>
    <div class="sizes border-red-50 pl-2 border-e-2">
      <div class="text-white text-2xl mb-3">font families :</div>

      <div class="text-white font-sans">font-sans</div>
      <div class="text-white font-serif">font-serif</div>
      <div class="text-white font-mono">font-mono</div>
      <div class="text-white font-roboto">font-roboto</div>
    </div>
    <div class="sizes pl-2">
      <div class="text-white text-2xl mb-3">imported font :</div>

      <p class="font-montserrat text-white">
        this font is montserrat has been imported from google font and
        customized via theme in config.ts
      </p>
    </div>
    <div class="sizes border-red-50 pl-2 border-e-2 my-3">
      <div class="text-white text-2xl mb-3">font styles :</div>

      <div class="text-white font-sans italic">italic</div>
      <div class="text-white font-serif decoration-wavy underline">
        wavy underline
      </div>
      <div class="text-white font-mono underline underline-offset-4">
        underline with offset
      </div>
      <div class="text-white font-mono line-through">line through</div>
    </div>
    <div class="sizes pl-2 my-3 border-e-2">
      <div class="text-white text-2xl mb-2">truncate & clip:</div>

      <p class="font-montserrat text-white truncate">
        this paragraph to show the truncate sentence if its too long it will be
        cut
      </p>
      <p class="font-montserrat text-white overflow-hidden text-clip">
        this paragraph to show the clip toolooooooooooooooooooooooooongword if
        its too long it will be cut
      </p>
    </div>
    <div class="sizes pl-2">
      <div class="text-white text-2xl mb-3">white space :</div>

      <p class="font-montserrat text-white whitespace-nowrap">
        no wrap for this sentence like u see
      </p>
      <p class="font-montserrat text-white whitespace-pre-wrap">
        this time prewrap this sentence like u see
      </p>
    </div>
    <div class="sizes pl-2 col-start-2 border-s-2 border-e-2">
      <div class="text-white text-2xl mb-3">word break :</div>

      <p class="font-montserrat text-white break-normal">
        toolooooooooooooooooooooooooongword
      </p>
      <p class="font-montserrat text-white break-words">
        toolooooooooooooooooooooooooongword
      </p>
    </div>
  </div>

  <div></div>
</div>
